*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;

    color: #fff;
}

#nav{
    width: 100%;
    padding: 30px 40px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;


}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#heading{
    margin-top: 40px;
}

#heading h1{
    line-height: 1;
    font-size: 10vw;
    font-weight: 900;
    /* font-family: "General Sans Medium"; */

    opacity: 0.6;
    margin-left: 35px;
}

#heading #secondh1{
    margin-left: 170px;
}

.blocktext{
    width: fit-content;
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#chotiheadings{
    
    margin-top: 120px;
    padding-right: 40px
}

#chotiheadings h5{
    text-align: right;
    margin-top: 0.5vw;
    font-size: 1vw;
    text-transform: uppercase;
}

#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    bottom: 5%;
    width: 100%;

    padding: 0 2vw;
}
#herofooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    width: 25px;
    height: 25px;

    border-radius: 50%;

    background-color: #888;

    display: flex;
    align-items: center;
    justify-content: center;

}
