*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

.bounding{
    width: fit-content;

    overflow: hidden;
}
.bounding .boundingelem{
    transform:  translateY(100%);
}

#minicircle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    
    position: absolute;
    z-index: 99999;

   transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    
}
#main{
    width: 100%;
    background-color: black;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;

    color: #fff;
    position: relative;
}

#nav{
    width: 100%;
    padding: 20px 40px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;


}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#heading{
    margin-top: 90px;
}

#heading h1{
    line-height: 1;
    font-size: 10vw;
    font-weight: 900;
    /* font-family: "General Sans Medium"; */

    opacity: 0.6;
    margin-left: 30px;
}

#heading #secondh1{
    margin-left: 230px;
}

.blocktext{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* background-color: blueviolet; */

}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    /* background-color: yellow; */
}

#chotiheadings{
    
    margin-top: 100px;
    padding-right: 50px;

    display:flex;
    flex-direction: column;
    align-items: end;
    /* background-color: blueviolet; */
}

#chotiheadings h5{
    text-align: right;
    margin-top: 0.5vw;
    font-size: 1vw;
    text-transform: uppercase;
}

#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: absolute;
    bottom: 3%;
    width: 100%;

    padding: 0 2vw;
}
#herofooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
}

#herofooter .circle{
    width: 25px;
    height: 25px;

    border-radius: 50%;

    background-color: #888;

    display: flex;
    align-items: center;
    justify-content: center;

}

#second{
    width: 100%;
    min-height: 100vh;

    background-color: black;

    padding-top: 100px;
    padding-right: 10vw;

    color: #fff;
}

.elem{
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    padding-right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
}
.elem h1{
    text-transform: uppercase;
    font-size: 7vw;
    opacity: 0.7;
}
.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    position: absolute;
    z-index: 999;

    height: 130%;
    display: none;

}

#about{
    width: 100%;
    background-color: black;
    padding: 10vw 5vw;

    color: #fff;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    gap: 50px;
    padding: 10vw 5vw;
    padding-left: 35vw;
}

#about img{
    width: 200px;
}

#textabout{
    width: 25rem;

}
#textabout h5{
    text-transform: uppercase;
    opacity: 0.6;
    margin-bottom: 10px;    
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}
#textabout a{
    color: #fff;
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    text-decoration: none;
    font-size: 12px;
}

#subscribe{
    background-color: black;
    color: #fff;
    padding: 20px 30px;

    padding-bottom: 10vw;


}
#subscribe h5{
    text-transform: uppercase;
    opacity: 0.6;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
}


#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;

    background-color: black;
    color: #fff;
}
#footerleft{
    display: flex;
    gap: 20px;
    
}
#footerright{
    display: flex;
    gap: 30px;
}

#footer a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
